<div class="row">
	<div class="large-12 columns">
		<h1><%= image_tag "peercoinca.png", style: 'height: 64px;' %> peercoin.ca</h1>
		<ul class="large-block-grid-3">
			<% @categories.each do |category| %>
				<li>
					<h2><%= category.name %></h2>
					<% category.links.each do |link| %>
						<p>
							<%= link.name %><br />
							<%= link_to link.url %>
						</p>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>